/* #g:hover .currentPoint {
  display:block;
} */

.currentPoint, .p {
  /*//stroke: #e64343;*/
  /*//fill: black;*/
  stroke-width: 4;
   /*//display: none;*/
  cursor:move;
  }

.currentPoint:hover, .p:hover {
  stroke: #e64343;
  fill: black;
  stroke-width: 4;
}

#cp-0 {
  stroke: red;
  /*//fill: black;*/
  stroke-width: 7;
}

.controlPoint {
  stroke: gray;
  fill: none;
  stroke-width: 1.5;
}

.controlPoint:hover {
  fill:grey;
}

.controlLine {
  stroke: black;
  fill: gray;
  stroke-width: 1.2;
  stroke-dasharray: 2,2;
}

[id^=cp1] {
    stroke: blue;
}

[id^=cp2] {
    stroke: green;
}

[id^=cl1] {
    stroke: blue;
}

[id^=cl2] {
    stroke: green;
}